.card {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: crimson;
  font-size: 13px;
  border-bottom: 0.5px solid crimson;
  margin: 3px 0;
}

.desc {
  font-size: 13px;
}

.star {
  color: gold;
}

.username {
  font-size: 13px;
}

.date {
  font-size: 11px;
}

form {
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea,
select {
  border: none;
  border-bottom: 1px solid grey;
}

.submitButton {
  border: none;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: crimson;
  cursor: pointer;
}

.button {
  position: relative;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.logout {
  background-color: crimson;
}
.login {
  background-color: teal;
  margin-right: 10px;
}
.register {
  background-color: blueviolet;
}

.buttons-log-reg,
.logout {
  position: absolute;
  flex-direction: initial;
  top: 10px;
  right: 10px;
}
